<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <h3 style="text-transform: none;">In Assosiation with</h3>
            <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: auto;">
                <div class="col-md-3 col-sm-6">
                <a href="https://www.tech-iitb.org/" target="_blank" style="@media(max-width: width 700px;){
                    width: 200px;
                    height: auto;
                }">
                        <img src="img/logos/itc.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.iitb.ac.in/" target="_blank" style="@media(max-width: width 700px;){
                        width: 150px;
                        height: auto;
                    }>
                        <img src="img/logos/iitb.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
        </div>
    </div>
</aside>