<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Sasha</h2>
                <h4 class="service-heading"></h4>
                <h3 class="text-muted section-subheading" style="text-transform: none; color: black;
                    font-size: 18px; font-family: serif; line-height: normal;">
                    Name of bot on Telgram: <b> Team_Automated_Bot</b> <br>

                    The Internet of Things has been one of the hot current topics along with Artificial Intelligence and
                    Machine Learning. So combining ideas from all these fields, our plan is to make a ChatBot with
                    personal assistance.Almost any function which involves interaction with a customer can be done by a
                    Chatbot.<br> <br>

                    Our Project has successfully made a chat bot which can be used for controlling home appliances
                    such as lights, fans, etc and would be very efficient to add many devices further on. Along with
                    this it is multi- functional and can do various other things apart from Home Automation. It can tell
                    current weather detail of 500+ cities, can tell jokes, trending news etc.<br><br>
                    For mapping the live status of devices, we have created a dashboard, which is suitable substitute of
                    hardware for prototype softwere. We have also created a Home Setup Code Generator(HSCG) portal
                    which will help user to generate code to integrate your home to our bot.
                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 25px; flex-wrap: wrap;">

                        <a href="https://io.adafruit.com/omkarghugarkar7/dashboards/sasha?kiosk=true"
                            class="page-scroll btn btn-xl">
                            Link to dashboard
                        </a>
                        <a href="https://divyanshnatani.github.io/sasha-hscg/" class="page-scroll btn btn-xl">
                            Link to SASHA - HSCG
                        </a>
                    </div>
                </h3>
                <!-- <p class=" section-subheading about-page-class text-muted">Link to the bot</p> -->
            </div>
        </div>
        <!-- <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
    </div>
</section>