<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">"Alone we can do so little; together we can do so much." – Helen Keller
                    </h3>
                </div>
            </div>
            
            <div class="row">
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;">
                    <div style="display: flex; justify-content: center; align-items: center;">
            
                        
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/11.jpg" class="img-responsive img-circle" alt="">
                                <h4>Omkar Ghugarkar</h4>
                                <p class="text-muted">Team Leader</p>
                                <ul class="list-inline social-buttons">
            
                                    <li>
                                        <a href="https://www.instagram.com/mr.omkar.ghugarkar.007/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.facebook.com/omkarghugarkar7">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.linkedin.com/in/omkar-ghugarkar-94b897194/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
            
            
                                </ul>
                            </div>
                        </div>
            
            
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/12.jpg" class="img-responsive img-circle" alt="">
                                <h4>Bhuvan Aggarwal</h4>
                                <p class="text-muted">Lead Coder</p>
                                <ul class="list-inline social-buttons">
            
                                    <li>
                                        <a href="https://www.instagram.com/bhuvan__18/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.facebook.com/bhuvan.aggarwal.16">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.linkedin.com/in/bhuvan-aggarwal-77b1b4191/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
            
            
                                </ul>
                            </div>
                        </div>
            
            
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/13.jpg" class="img-responsive img-circle" alt="">
                                <h4>Divyansh Natani</h4>
                                <p class="text-muted">Asst. Coder and Lead Designer</p>
                                <ul class="list-inline social-buttons">
            
                                    <li>
                                        <a href="https://www.instagram.com/divyansh_natani/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.facebook.com/divyansh.natani.142">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.linkedin.com/in/divyansh-natani-b59389193/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
            
            
                                </ul>
                            </div>
                        </div>
            
            
            
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/14.jpg" class="img-responsive img-circle" alt="">
                                <h4>Akshat Zalte</h4>
                                <p class="text-muted">Hardware Expert</p>
                                <ul class="list-inline social-buttons">
            
                                    <li>
                                        <a href="https://www.instagram.com/akshat_zalte/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.facebook.com/akshat.zalte">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
            
                                    <li>
                                        <a href="https://www.linkedin.com/in/akshat-zalte-a78262196/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
            
            
                                </ul>
                            </div>
                        </div>
            
            
            
                    </div>
            
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted" style="font-size: 20px;">We proudly call ourselves '<b>Team Automated</b>' </p>
                </div>
            </div>
        </div>
    </section>